// @font-face {
//     font-family: MicrosoftYaheiUI;
//     src: url('../fonts/MicrosoftYahei/msyhl.ttc');
//     font-weight: 300;
// }
//
// @font-face {
//     font-family: MicrosoftYaheiUI;
//     src: url('../fonts/MicrosoftYahei/msyh.ttc');
//     font-weight: 400;
// }
//
// @font-face {
//     font-family: MicrosoftYaheiUI;
//     src: url('../fonts/MicrosoftYahei/msyhbd.ttc');
//     font-weight: 700;
// }
//
@font-face {
    font-family: FZHTJW;
    src: url('../fonts/FZHTJW/FZHTJW.ttf');
    font-weight: 400;
}
